[user]
  name = Andrew Vos
  email = andrew.vos@gmail.com
  signingkey = EAEE27C95790CBBE

[color]
  ui = true
[alias]
  st = status
  br = branch
  cm = checkout master
  wip = commit -m 'wip [ci skip]'
[core]
  excludesfile = ~/.gitignore

[format]
  pretty=format:%C(yellow)%h%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset

[init]
  templatedir = ~/.git-template
[web]
  browser = chrome

[github]
  user = AndrewVos

[diff]
  algorithm = patience

[push]
  default = simple

[credential]
	helper = store
[pull]
	rebase = true
[commit]
	gpgsign = true
