fish/fishd.andrewvos
configs/ssh/.ssh/id_rsa
configs/ssh/.ssh/id_rsa.pub
configs/ssh/.ssh/known_hosts
configs/kakoune/.config/kak/colors
configs/kakoune/.config/kak/plugins
configs/fish/.config/fish/fish_variables

modules/ssh/files/.ssh/id_*
modules/ssh/files/.ssh/known_hosts*
modules/kakoune/files/kak/colors
modules/kakoune/files/kak/plugins
modules/fish/files/fish/fish_variables

fragments/ssh/files/.ssh/id_*
fragments/ssh/files/.ssh/known_hosts*
fragments/kakoune/files/kak/colors
fragments/kakoune/files/kak/plugins
fragments/fish/files/fish/fish_variables
