fish/fishd.andrewvos
configs/ssh/.ssh/known_hosts
configs/kakoune/.config/kak/colors
configs/kakoune/.config/kak/plugins
configs/fish/.config/fish/fish_variables

modules/kakoune/files/kak/colors
modules/kakoune/files/kak/plugins
modules/fish/files/fish/fish_variables

modules/ssh/files/.ssh/id_*
modules/ssh/files/.ssh/known_hosts
