- directory:
    sudo: true
    path: /etc/systemd/system/getty@tty1.service.d

- script:
    command: |
      FILE_PATH="/etc/systemd/system/getty@tty1.service.d/autologin.conf"
      if [[ ! -f "$FILE_PATH" ]]; then
        echo "[Service]" | sudo tee "$FILE_PATH"
        echo "ExecStart=" | sudo tee -a "$FILE_PATH"
        echo "ExecStart=-/sbin/agetty -o '-p -f -- \\u' --noclear --autologin $USER - \$TERM" | sudo tee -a "$FILE_PATH"
      fi
