tasks:
- pacman:
    name: openssh

- symlink:
    from: "~/.ssh"
    to: ".ssh"

- service:
    name: "sshd"
    enable: true
    start: true

- script:
    command: |
      FILE_PATH="$HOME/.ssh/authorized_keys"
      if [[ ! -f "$FILE_PATH" ]]; then
        touch "$FILE_PATH"

        INCLUDE_LINE=$(curl --silent https://github.com/AndrewVos.keys)
        grep -qxF "$INCLUDE_LINE" "$FILE_PATH" || echo "$INCLUDE_LINE" >> "$FILE_PATH"
      fi
